.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--space-xxl);
    background-color: var(--card);
    padding-bottom:var(--space-xxl) ; 

}






.card:hover{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); /* Тень */
}

.card__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничиваем текст двумя строками */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: keep-all; /* Сохраняем слова целиком */
    overflow-wrap: normal; /* Предотвращаем разрыв слов */
}

.card__subtitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Ограничиваем текст тремя строками */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: keep-all; /* Сохраняем слова целиком */
    overflow-wrap: normal; /* Предотвращаем разрыв слов */
}



.card__content{
    
    display: flex;
    flex-direction: column;
   
    padding: 0px var(--space-xs);
    gap: var(--space-xl);
    flex-grow: 1;
    
    opacity: 0px;

}

.card__body{
    display: flex;
    flex-direction: column;
    width: 336px;
    gap: 8px;
    cursor: pointer;

}

.card__button{
    display: flex;
    justify-content: space-between;
    width: 336px;
    gap: var(--space-xxs);
    margin-top: auto;
    opacity: 0px;
    align-items: center;

}

.card__image {
    background-color: #D9D9D9;
    aspect-ratio: 1 / 1;
    width: 100%;          /* Fills the width of the card */
    object-fit: cover;    /* Ensures the image fills the container without distortion */
    cursor: pointer;
}

