
@import '../../styles/variables';

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  
    &-title {
      font-family: 'Roboto', sans-serif;
      font-size: 44px;
      font-weight: 700;
      line-height: 48px;
    }
  
    &-button {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 18px;
    }
  
    &-p-20 {
      font-size: 20px;
      line-height: 24px;
    }
  
    &-p-32 {
      font-size: 32px;
      line-height: 48px;
    }
  
    &-p-18 {
      font-size: 18px;
      line-height: 22px;
    }
  
    &-p-16 {
      font-size: 16px;
      line-height: 20px;
    }
  
    &-p-14 {
      font-size: 14px;
      line-height: 18px;
    }
  
    &-weight-normal {
      font-weight: normal;
    }
    &-weight-600 {
      font-weight: 600;
    }
  
    &-weight-medium {
      font-weight: 500;
    }
  
    &-weight-bold {
      font-weight: bold;
    }
  
    &-color-primary {
      color: $primary;
    }
  
    &-color-secondary {
      color: $secondary;
    }
  
    &-color-accent {
      color: $accent;
    }
  
    // Ограничение по строкам
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  