@import '../../styles/variables';
.page__product {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  padding-bottom: 146px;
}

._container-product {
  max-width: 1301px;
  height: 1346px;
  margin: 0 auto;
  box-sizing: content-box;
  padding-bottom: 144px;
}

.product__button-container {
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Выровнять кнопку по левому краю */
}

.product__button_back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 129px;
  height: 48px;
  text-align: start;
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: $space-xxl;
}

.product__card {
  height: 600px;
}

.product__related-cards {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
}

.product__text-container {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
}

.product__text_title {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
}

.product__wrapper {
  padding-top: $space-xxl;
  display: flex;
  gap: $space-xxl;
  justify-content: center;
  width: 1301px;
}

.product__image-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__slider-button {
  position: absolute;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary;
  color: $base;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s;
  top: 50%;
  transform: translateY(-50%); /* Центрирование по вертикали */
}

.slider-button-left {
  left: $space-xl; 
}

.slider-button-right {
  right: $space-xl; 
}

.product__slider-button-disabled {
  opacity: 0.6; 
}

.product__image {
  flex: 0 0 auto;
  min-width: 600px;
}

.product__price {
  width: 338px;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: $space-xxl;
}

.product__buttons {
  width: 100%;
  height: 52px;
  display: flex;
  gap: $space-xxl;
}

.add-to-cart-button {
  color: $primary;
  background-color: $font;
  border: 1px solid $secondary;
}
