.loader {
  border: 5px solid rgba(81, 133, 129, 1);
  transform: rotate(-58deg);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spin 1s linear infinite; /* Добавляем анимацию */
}

.loader-l {
  position: relative;
  top: 15.01px;
  left: 6.01px;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(81, 133, 129, 1);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Добавляем анимацию */
}

.loader-m {
  border: 4px solid rgba(81, 133, 129, 1);
  position: relative;
  top: 12.01px;
  left: 4.81px;
  width: 32px;
  height: 32px;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Добавляем анимацию */
}

.loader-s {
  border: 2px solid rgba(81, 133, 129, 1);
  position: relative;
  top: 6px;
  left: 2.41px;
  width: 16px;
  height: 16px;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Добавляем анимацию */
}


.loader-container {
  animation: spin 1s linear infinite; /* Анимация вращения */
}

@keyframes spin {
  0% {
      transform: rotate(0deg); /* Начальное состояние */
  }
  100% {
      transform: rotate(360deg); /* Конечное состояние */
  }
}
