

.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index:2;


} 


.header__container {
	position: relative;
	display: flex;
	min-height: 90px;
	align-items: center;
	justify-content: space-between; 
	
	
}


.header__logo {
	z-index: 3;
}

.header__menu{
	display: flex;
	justify-content: center;
	align-items: center;
}



.header__icons{
	display: flex;
	gap:32px;
	z-index: 3;
}

.header__logo img {
	max-width: 100%;
	display: block;
}



.menu__list {
	min-width: 351px;
	display: flex;
	align-items: center;
	position: absolute; 
	gap: var(--space-xl);
	justify-content: space-between;
	opacity: 1; 
  	z-index: 2;
}

.menu__item {
	width: 85px;
	position: relative;
	cursor: pointer;
	text-align: center;
  }
  
  .menu__item.active {
	font-weight: bold;
	color: var(--primary-color);
  }
  
  .menu__item.active::after {
	content: '';
	position: absolute;
	bottom: -34px; 
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--primary-color);
	transform: translateY(100%);
  }
  
  
  .products__cards a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
  }
  





ol, ul, dl {
	margin: 0px 0px 0px 0px;
  }





