.multi-dropdown {
  position: relative;
  width: 100%;
}
.multi-dropdown .input-element {
  color: rgba(175, 173, 181, 1); /* Применить к инпуту в MultiDropdown */
}




.multi-dropdown__option:hover {
  background-color: var(--hover-background-color);
}

.multi-dropdown__option.selected {
  color: var(--primary-color); /* Цвет выделенного элемента */
  
}

.multi-dropdown__container {
  position: relative;
  width: 100%;
}

.multi-dropdown__options {
  margin-top: 8px;
  width: 100%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid var(--border-color);
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.multi-dropdown__option-text {
  padding: 14px 12px;
  height: 48px;
  font-family: var(--font-family);
  cursor: pointer;
  color: var(--text-primary-color);
  font-size: calc(var(--font-size) + 2px); /* Увеличить размер шрифта на 2 единицы */
  transition: background-color var(--transition-duration) var(--transition-easing);
}

