@import '../../styles/variables';




.products{
    &__content {
        padding-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding-bottom: 48px;
    }
    
    &__body {
        width: 100%;
    }
    
    &__header {
        width: 653px;
        height: 128px;
        display: flex;
        flex-direction: column;
        gap: $space-xl;
        align-items: center;
    }
    
    &__description {
        text-align: center;
    }
    
    
    
    &__subtitle {
        display: flex;
        width: 266px;
        align-items: center;
        justify-content: space-between;
        padding-bottom: $space-xl;
        text-align: left;
    }
    
    &__cards {
        padding-bottom: 30px;
    }
    
    
    
    &__column {
        display: flex;
        justify-content: center;
    }
    &__controls {
        width: 100%;
        gap: $space-xl;
        display: flex;
        flex-direction: column;
    }
    
    &__search {
        display: flex;
        gap: $space-xl;
    }
    
    &__search-column--left {
        flex: 1;
    }
    
    
    
    &__filter {
        width: 300px;
    }
    
    &__pagination {
        width: 296px;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    
    
}




.pagination-button {
    background: none;
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    width: 38px;
    height: 42px;
    color: #333;
}

.pagination-button.active-page {
    background-color: $accent;
    width: 38px;
    height: 42px;
    color: #fff;
}
